node_modules

# Next.js build outputs
.next
out
.vercel

# Coverage / caches
coverage
.turbo
.eslintcache
*.tsbuildinfo
.sixth

# Environment files
.env*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor noise
.DS_Store
Thumbs.db
